/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

span.field-validation-error {
    color: red;
}
/*Bootstrap Overrides*/
.alert {
    border-radius: 9px;
}

.dropdown-menu.show {
    margin-left: -5px;
}

footer a {
    color: #ffffff;
}

    footer a:hover {
        color: #252424;
        text-decoration: none
    }


footer {
    background-color: #ff4342;
    color: #ffffff
}
.navbar-color {
    background-color: #ff4342;
    border-color: #ff4342;
}

.navbar-light .navbar-brand {
    color: #ffffff;
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
    color: #ffffff;
}
.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
}

.dropdown-menu {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar-inverse .navbar-nav > .dropdown > a.caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}

.navbar-brand {
    font-weight: 900;
    font-size: 35px;
}

body {
    font-size: 17px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: Lato;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    font-size: 17px;
    padding: 2px 5px;
    border-radius: 10px;
}

    .form-control:focus {
        border-color: #2196f3;
        box-shadow: none;
    }

.btn {
/*    font-size: 17px;
    padding: 7px 20px;*/
    border-radius: 9px;
}

.btn-default {
    background: white;
    color: black;
    border: 1px solid gray;
}

/*Page-level Styels*/
.gigs {
    list-style: none;
    margin-top: 40px;
    
}
    .gigs > li {
        position: relative;
        margin-bottom: 30px;
    }

        .gigs > li .date {
            background: red;
            color: white;
            text-align: center;
            width: 60px;
            border-radius: 9px;
        }

.gigs > li .date .month {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    padding: 2px 6px;
}


    .gigs > li .date .day {
        background: #f7f7f7;
        color: #333;
        font-size: 20px;
    }

.gigs > li .details {
    position: absolute;
    top: 0;
    left: 70px;
}
.gigs >li .details .artist {
    font-weight: bold;
    display: block;
}

.gigs >li .details .genre {
    font-size: 15px;
}

.gigs > li .actions {
    display: none;
}

.gigs > li:hover .actions {
    display: block;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 6px;
}